@model Holiday
@{
    ViewData["Title"] = "Delete Holiday";
}

<div class="modal fade" id="DeleteHoliday-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-dept-form" method="post" asp-controller="Holiday" asp-action="DeleteHoliday">
                <div class="modal-body">
                    <input asp-for="Id" hidden />
                    <div class="form-group">
                        <label asp-for="HolidayName" class="form-label"></label>
                        <input asp-for="HolidayName" class="form-control" data-bv-notempty="true" data-bv-notempty-message="The days field is required" disabled />
                        <span asp-validation-for="HolidayName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Month" class="form-label"></label>
                        <input asp-for="Month" class="form-control form-control-lg" data-bv-notempty="true" data-bv-notempty-message="The days field is required" disabled>
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Date" class="form-label"></label>
                        <input asp-for="Date" class="form-control form-control-lg" data-bv-notempty="true" data-bv-notempty-message="The days field is required" disabled>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <a asp-action="Index" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>