@model Leave
@{
    ViewData["Title"] = "Leave Details";
}

<div class="modal fade" id="Leave-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <input asp-for="Id" hidden />
                    <div class="form-group">
                       Employee Name:  @Model.Employee.Name
                    </div>
                    <div class="form-group">
                        Leave Type: @Model.LeaveTypes.LeaveName
                    </div>
                    <div class="form-group">
                        Asked at: @Model.AskedAt
                    </div>
                    <div class="form-group">
                        Remark: @Model.Remark
                    </div>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    
                </div>
          
        </div>
    </div>
</div>
