@using Human_Resources.Data.Enum
@using Human_Resources.Data.ViewModels
@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee Form";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewData["Title"]</h1>
            <div class="form-group text-center">
                <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
            </div>
            <form method="post" asp-action="AddEmployee">
                <div class="form-group">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <textarea asp-for="Email" class="form-control form-control-lg"></textarea>
                    <span asp-validation-for="Email " class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PhotoURL" class="form-label"></label>
                    <input  asp-for="PhotoURL" class="form-label" type="file" />
                    <span asp-validation-for="PhotoURL" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Sex" class="control-label"></label>
                    <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()">
                    </select>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="MaritalStatus" class="control-label"></label>
                    <select asp-for="MaritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                    </select>
                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control " asp-items="ViewBag.Departments"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" class="btn btn-primary" value="Add Employee">
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#PhotoURL").val();
        })
        $("#PhotoURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}