@model List<Employee>
@using Human_Resources.Data.ViewModels
@{
    ViewData["title"] = "Available Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Employee Name</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @emp.Name
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    <a class="btn btn-outline-primary" asp-action="EditEmployee" asp-route-Id="@emp.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-outline-info" asp-route-Id="@emp.Id" asp-action="Details"><i class="bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" asp-action="DeleteEmployee" asp-route-Id="@emp.Id"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
        }
        <a class="btn btn-primary" asp-action="AddEmployee">Add an Employee</a>
    </table>
}
else
{
    <h4 class="text-danger align-content-center">No Employees available</h4>
    <a asp-action="AddEmployee" class="btn btn-primary" >Add an Employee</a>
}
@*@await Html.PartialAsync("~/Views/Shared/_AddEmployee.cshtml", new EmployeeViewModel())*@


