@model List<Appraisal>
@using Human_Resources.Data.ViewModels
@{
    ViewData["title"] = "Available Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Employee Name</th>
            <th style="padding-left: 30px;">Actions</th>
        </tr>
        @foreach (var appraisal in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @appraisal.Employee.Name
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    <a class="btn btn-outline-primary" asp-action="EditAppraisal" asp-route-Id="@appraisal.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-Id="@appraisal.Id" asp-action="Details"><i class="bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" asp-action="DeleteAppraisal" asp-route-Id="@appraisal.Id"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
        }
        
    </table>
    <a class="btn btn-primary" asp-action="AddAppraisal">Grade an Employee</a>
}
else
{
    <h4 class="text-danger align-content-center">No Promotions are Made till now</h4>
    <a asp-action="AddAppraisal" class="btn btn-primary">Grade an Employee</a>
}